@font-face {
	font-family: Raleway;
	src: url(../fonts/raleway/raleway-medium.ttf);
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/materialicons-regular.ttf);
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
	font-size: 1em;
	background-color: white;
}

body {
	height: 100%;
	position: relative;
}

a:hover {
	cursor: pointer;
}

#wrapper {
	font-family: Raleway, sans-serif;
	letter-spacing: 0.03em;
	text-align: center;
	width: 100%;
	max-width: 1350px;
	box-shadow: none;
	margin: 0 auto;
	padding-top: 55px;
	background-color: #00029A;
}

#header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	border-bottom: 3px solid orange;
	box-shadow: 0px 0px 5px black;
	z-index: 100;
}

#above-nav {
	*zoom: 1; /* clearfix-hack for IE 6/7 */
	position: relative;
	width: 100%;
	padding: 5px;
	top: 0;
	margin: 0 auto;
}

#above-nav:before,
#above-nav:after {
	content: " ";
	display: table;
}

#above-nav:after {
	clear: both;
}

#brandarea {
	display: none;
}

.toggle-menu {
	position: relative;
	left: 0;
	top: 0;
	width: 45px;
	height: 35px;
	display: block;
	float: left;
	background-color: black;
	border: none;
	border-radius: 2px;
	z-index: 100;
	text-align: center;
	box-shadow: 1px 1px 3px grey;
	-webkit-transition: 0.2s ease;
	transition: 0.2s ease;
}

.toggle-menu:hover {
	transform: translate(-1px, -1px);
	box-shadow: 2px 2px 4px grey;
}

.toggle-menu .bars {
	width: 60%;
	margin: 0 auto;
	margin-top: 15%;
	position: relative;
}

.toggle-menu .bar {
	display: block;
	background-color: orange;
	position: absolute;
	width: 100%;
	height: 2px;
	border-radius: 3px;
	transition: 1s ease;
	box-shadow: 1px 1px 3px black;
}

.toggle-menu.open .bar {
	height: 3px;
}

.toggle-menu .bar:first-child {
	top: 4px;
}

.toggle-menu .bar:nth-child(2) {
	top: 10px;
}

.toggle-menu .bar:last-child {
	top: 16px;
}

.toggle-menu.open .bar:first-child {
	transform: rotate(45deg);
	top: 8px;
}

.toggle-menu.open .bar:nth-child(2) {
	opacity: 0;
}

.toggle-menu.open .bar:last-child {
	transform: rotate(-45deg);
	top: 8px;
}

.toggle-menu:hover {
	cursor: pointer;
}

.toggle-menu.open.go-back .bar:first-child {
	transform: rotate(-45deg);
	width: 70%;
	top: 3px;
	left: -2px;
}

.toggle-menu.open.go-back .bar:nth-child(2) {
	opacity: 1;
}

.toggle-menu.open.go-back .bar:last-child {
	transform: rotate(45deg);
	width: 70%;
	top: 17px;
	left: -2px;
}

#logo-container {
	position: relative;
	height: 35px;
	width: auto;
	float: left;
	margin: 0;
	left: 50%;
	margin-left: -80px;
	z-index: 100;
	border-radius: 2px;
	border: 1px solid orange;
	transition: left 0.5s ease;
}

#logo-container a {
	margin: 0;
	position: relative;
	top: 0;
}

#logo-container img {
	width: auto;
	max-height: 100%;
}

#logo-container.searching {
	left: 90px;
}

.search {
	display: block;
	width: 45px;
	height: 35px;
	position: relative;
	top: 0;
	right: 0;
	float: right;
	border-radius: 2px;
	background-color: black;
	color: orange;
	padding-top: 7px;
	z-index: 100;
	cursor: pointer;
	box-shadow: 1px 1px 3px grey;
}

.search i {
	-webkit-transition: transform 0.2s ease;
	transition: transform 0.2s ease;
}

.search:hover i {
	transform: scale(1.5,1.5);
}

#search {
	font-size: 2em;
	position: absolute;
	right: -100%;
	top: 0;
	height: 35px;
	width: 30%;
	transition: right 0.5s ease;
}

#search input {
	width: 100%;
	border: 1px solid orange;
	border-radius: 2px;
	padding: 5px;
	height: 35px;
	font-size: 0.6em;
}

#search input::placeholder {
	color: grey;

}

#search label {
	display: none;
}

#search.searching {
	right: 60px;
}

nav {
	position: fixed;
	width: 100%;
	list-style: none;
	color: orange;
	text-transform: uppercase;
	font-size: 0.7em;
	margin-top: -200%;
	transition: 0.7s ease;
	line-height: 1.5;
	z-index: 5;
}

nav ~ #modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	z-index: 2;
	background-color: rgba(0,0,0,0);
	transition: 0.7s ease;
}

nav.open ~ #modal {
	display: block;
	visibility: visible;
	background-color: rgba(0,0,0,0.4);
}

nav.open {
	margin-top: 10px;
}

nav ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 95%;
	*zoom: 1;
	background-color: black;
	border-radius: 3px;
}

nav.sub-menu ul {
	display: none;
}

nav ul:before,
nav ul:after {
	content: " ";
	display: table;
}

nav ul:after {
	clear: both;
}

nav ul li {
	width: 33.33333333%;
	float: left;
}

#index {
	background-color: #1E1E1E;
}

nav ul li ul {
	width: 100%;
}

nav ul li ul li {
	width: 33.33333333%;
	float: left;
}

nav ul li a:hover {
	background-color: #424242;
}

nav > ul > li:first-of-type span, nav > ul > li:first-of-type a {
	box-sizing: content-box;
	display: inline-block;
	width: 50%;
	height: auto;
	text-align: center;
	max-width: 50px;
	padding: 1.7em 0;
}

nav ul li a, nav ul li span {
	width: 100%;
	margin: 0 auto;
	color: orange;
	padding: 3em 0;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	text-shadow: 1px 1px 1px grey;
}

nav ul li span {
	cursor: default;
}

nav li > ul {
	display: none;
}

nav.sub-menu ul li > ul:target {
	display: block;
}

nav.sub-menu-1 > ul > li {
	display: none;
}

nav.sub-menu-1 > ul > li:nth-of-type(2) {
	display: block;
	width: 100%;
	background-color: #00013D;
}

nav.sub-menu-1 > ul > li:nth-of-type(2) ul {
	display: block;
}

nav.sub-menu-2 > ul > li {
	display: none;
}

nav.sub-menu-2 > ul > li:nth-of-type(4) {
	display: block;
	width: 100%;
	background-color: #00013D;
}

nav.sub-menu-2 > ul > li:nth-of-type(4) ul {
	display: block;
}

.just-mobile {
	width: 100%;
	text-align: center;
	font-size: 3em;
	border-bottom: 3px solid blue;
	margin-top: 0;
	font-weight: bold;
}

.cookie-div {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.9);
	bottom: 0;
	width: 100%;
	font-size: 1.2em;
	color: white;
	padding-bottom: 1em;
	text-align: center;
	line-height: 2;
	z-index: 100;
}

.cookie-div .got-it {
	color: black;
	padding: 0.5em 1em;
	background-color: yellow;
	border-radius: 5px;
	margin-right: 3em;
}

.cookie-div .got-it:hover {
	background-color: white;
	cursor: pointer;
}

.cookie-div .got-it:active {
	box-shadow: 0px 0px 5px black inset;
}

.cookie-div a[href] {
	color: white;
	text-decoration: underline;
}

.cookie-div a[href]:hover {
	color: yellow;
}

.booking-link {
	text-decoration: none;
	float: left;
	margin-left: 10px;
	color: orange;
	height: 35px;
	width: 45px;
	padding-top: 7px;
	border-radius: 2px;
	background-color: black;
	box-shadow: 1px 1px 3px grey;
	z-index: 1000000;
}

.booking-info {
	position: fixed;
	left: 5em;
	font-size: 1.5em;
	top: 50%;
	display: none;
	transform: translateY(-50%);
	padding: 1em;
	background-color: #d9db76;
	border-radius: 5px;
	z-index: 10;
	box-shadow: 1px 2px 5px black;
}

.show-booking.no-display {
	width: 0px;
	height: 0px;
	border-width: 0px;
}

.booking-modal.no-display {
	background-color: rgba(0, 0, 0, 0);
	display: none;
}

.show-booking a.no-display, .show-booking span.no-display {
	font-size: 0px;
}

.show-booking {
	box-sizing: content-box;
	position: fixed;
	top: -265px;
	left: -205px;
	border: 250px solid #2196F3;
	border-radius: 50%;
	width: 5em;
	height: 5em;
	z-index: 1000;
	transition: width 1s ease, height 1s ease, border 0.6s ease;
}

.show-booking span {
	font-size: 1.5em;
	position: relative;
	left: 120%;
	top: 50%;
	transition: 0.5s ease;
	transition-delay: 0.5s;
	display: block;
	width: 200px;
}

.show-booking a {
	position: relative;
	left: 10%;
	top: 130px;
	padding: 0.3em 0.5em;
	border-radius: 3px;
	box-shadow: 0px 0px 3px white;
	color: white;
	background-color: blue;
	font-size: 2em;
	transition: font-size 0.5s ease 0.5s, box-shadow 0.3s ease, background-color 0.3s ease;
}

.show-booking a:hover {
	background-color: darkblue;
	cursor: pointer;
	box-shadow: 0px 0px 6px 3px white;
}

.booking-modal {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	transition: 1s ease;
	z-index: 100;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1000000;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s ease;
}

.overlay.visible {
	visibility: visible;
	opacity: 1;
	top: 0;
}

.overlay .modal-window {
	position: relative;
	padding: 1.5rem;
	font-size: 1.5rem;
	width: 75%;
	max-height: 80vh;
	overflow: auto;
	background-color: #2196F3;
	border-radius: 5px;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	transition: 0.5s ease;
}

.overlay .modal-window p {
	margin: 0;
	margin-bottom: 0.5rem;
}

.modal-window table,
.modal-window td {
	border-collapse: collapse;
}

.modal-window table {
	margin: 1rem;
	font-size: 0.75em;
	width: 100%;
}

.modal-window tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.25);
}

.modal-window tr:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.25);
}

.modal-window td {
	padding: 0.25rem;
}

.modal-window td:first-child {
	width: 35%;
}

.modal-window .close {
	font-size: 40px;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.modal-window .close:hover {
	color: red;
	cursor: pointer;
}

main {
	width: 97%;
	position: relative;
	margin: 0 auto;
	border: none;
	line-height: 1.5;
	border-radius: 3px;
	background-color: white;
	padding: 5%;
	padding-top: 1em;
	text-align: left;
}

main .section-heading {
	width: 100%;
	text-align: center;
	font-size: 3em;
	border-bottom: 3px solid blue;
	margin-top: 0;
	font-weight: bold;
}

main a {
	text-decoration: none;
	color: blue;
	transition: 0.5s ease;
}

main a:link, main a:visited {
	color: darkblue;
}

main a:hover {
	color: orange;
	text-decoration: underline;
}

main img {
	max-width: 100%;
	height: auto;
	border: 1px solid orange;
	border-radius: 3px;
}

section p:first-child {
	width: 90%;
	margin-top: 0;
}

.error {
	color: red;
}

#back-to-top {
	position: fixed;
	right: 3%;
	bottom: 3%;
	width: 3.5em;
	height: 3.5em;
	border-radius: 50%;
	background-color: #2196F3;
	z-index: 15;
	box-shadow: 1px 2px 5px black;
}

#back-to-top:hover {
	cursor: pointer;
}

#back-to-top i {
	font-size: 2em;
	padding: 21%;
	color: white;
	font-weight: lighter;
	text-shadow: 1px 1px 2px #565656;
	transition: transform 0.2s ease;
}

#back-to-top:hover i {
	transform: translate(0px, -5px);
}

aside.aside {
	position: fixed;
	top: 60px;
	right: -260px;
	font-size: 0.9em;
	text-align: left;
	width: 260px;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
	z-index: 17;
}

aside .aside-content {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #2196F3;
	border-radius: 3px;
	box-shadow: 1px 1px 5px black;
	z-index: 2;
}

.aside .icon-container {
	position: absolute;
	top: 40px;
	left: -45px;
	border-radius: 3px;
	width: 70px;
	background-color: #2196F3;
	box-shadow: 1px 1px 5px black;
	-webkit-transition: 0.1s ease;
	transition: 0.1s ease;
	z-index: 1;
}

.aside table {
	border-collapse: collapse;
}

.aside table tr {
	border-bottom: 1px solid black;
}

.aside .icon-container:hover {
	left: -55px;
}

.aside i {
	font-size: 2em;
	padding: 5px;
	color: white;
	-webkit-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
	cursor: pointer;
}

.aside.swipe {
	right: 0;
}

.aside.swipe i {
	transform: rotate(180deg);
}

aside table {
	width: 100%;
	margin: 3%;
}

aside table td:nth-child(2n) {
	padding-left: 10%;
}

aside .heading {
	font-size: 1.5em;
	padding-top: 0.5em;
}

hr {
	color: blue;
}

footer {
	width: 100%;
	padding-top: 1.5em;
	padding-bottom: 5em;
	background-color: blue;
	font-size: 0.9em;
	color: #FF8000;
	line-height: 1.75;
	text-align: center;
	background: -moz-linear-gradient(top, rgba(0,0,156,1) 0%, rgba(0,43,102,1) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,156,1) 0%, rgba(0,43,102,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,156,1) 0%, rgba(0,43,102,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,156,1) 0%, rgba(0,43,102,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,156,1) 0%, rgba(0,43,102,1) 100%);
	*zoom: 1; /* clearfix-hack for IE 6/7 */
}

footer:before,
footer:after {
	content: " ";
	display: table;
}

footer:after {
	clear: both;
}

#footerupdate {
	color: white;
}

#footerupdate a {
	color: #FF8000;
}

#footerimprint {
	margin-top: 2em;
}

footer address {
	margin-top: 2em;
}

#footercontact a {
	color: #FF8000;
}

address b {
	font-weight: bold;
	font-style: normal;
}

@media screen and (max-width: 384px) {
	nav > ul > li:nth-child(6) > a {
		padding: 2.25em 0;
	}
}

@media screen and (max-width: 348px) {

	nav > ul > li:nth-child(4) > ul > li:nth-child(2) > a {
		padding: 2.25em 0;
	}

}

@media screen and (min-width: 480px) {

	#search {
		width: 50%;
	}

	aside.aside {
		width: 400px;
		right: -400px;
	}

	#back-to-top {
		bottom: 5%;
	}

	main {
		font-size: 1.2em;
		padding: 3%;
		padding-top: 1em;
	}
}

@media screen and (min-width: 600px) {
	.overlay .modal-window {
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 960px) {

	body {
		position: relative;
		background-color: lightgray;
	}

	#wrapper {
		position: static;
		width: 90%;
		box-shadow: 0px 0px 10px 1px black;
		background-color: white;
		padding-top: 0;
	}

	#header {
		position: relative;
		left: 0;
		top: 0;
		z-index: 5;
		box-shadow: none;
	}

	#above-nav {
		padding-bottom: 0;
	}

	.toggle-menu {
		display: none;
	}

	.search {
		display: none;
	}

	#logo-container {
		max-width: 240px;
		height: auto;
		left: 5%;
		background-color: white;
		margin: 0;
		margin-top: 2.5em;
	}

	#logo-container.scroll-style {
		position: fixed;
		margin: 0;
		padding: 0;
		top: 0;
	}

	#logo-container.relative {
		position: relative;
		left: 0;
		top: 0;
		width: 5%;
		max-width: 85px;
		margin: 0;
		margin-left: 1%;
		margin-top: 0.1%;
	}

	#logo-container img {
		max-width: 100%;
		height: auto;
	}

	#brandarea {
		display: block;
		font-size: 2em;
		float: right;
		width: 50%;
		max-width: 500px;
		text-align: right;
		color: #595959;
	}

	#brandarea h1 {
		font-size: 1.2em;
		background-image: url('../images/Berlin_Skyline_grey.png');
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: contain;
		padding: 10% 7% 10% 0;
		margin: 0;
		line-height: 1.5;
	}

	nav {
		position: relative;
		font-size: 0.6em;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 0;
		background-color: #EAEAEA;
		text-align: center;
	}

	#main-nav.scroll-nav {
		position: fixed;
		width: 100%;
		top: 0;
		margin: 0;
		left: 0;
		box-shadow: 0px 4px 8px -5px black;
		border-radius: 0;
	}

	.scroll-nav > ul {
		width: 93%;
		margin-left: 7%;
		border-left: 1px solid orange;
	}

	nav ul {
		margin: 0 auto;
		position: relative;
		background-color: #EAEAEA;
		list-style: none;
		padding: 0.2%;
		*zoom: 1; /* clearfix-hack for IE 6/7 */
		z-index: 5;
		width: 100%;
		border-radius: 0;
	}

	nav ul:before,
	nav ul:after {
		content: " ";
		display: table;
	}

	nav ul:after {
		clear: both;
	}

	#index {
		background-color: grey;
	}

	#index:before {
		content: "";
		position: absolute;
		width: 100%;
		height:  5%;
		top: -5%;
		left: 0;
		background-color: blue;
	}

	nav ul li {
		text-align: center;
		width: 14.28%;
		display: block;
		position: relative;
		float: left;
		background-color: #EAEAEA;
	}

	nav > ul > li:not(#index):before {
		content: "";
		position: absolute;
		top: -1px;
		left: 50%;
		margin-left: -2.5px;
		border-top: 5px solid orange;
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
		z-index: 10;
		opacity: 0;
		-webkit-transition: 0.5s;
		transition: 0.5s;
	}

	nav ul li:not(#index):after {
		content: "";
		position: absolute;
		width: 100%;
		height: 5%;
		top: 100%;
		left: 0;
		background-color: blue;
		z-index: 4;
		opacity: 0;
		-webkit-transition: 0.5s;
		transition: 0.5s;
	}

	nav ul li:not(#index):hover:before, nav ul li:not(#index):hover:after {
		opacity: 1;
	}

	.li:not(:last-child) {
		border-right: 1px solid #FFB163;
	}

	nav ul li:hover > ul {
		opacity: 1;
		visibility: visible;
		width: 100%;
	}

	nav ul li a, nav ul li span {
		display: block;
		padding: 1.1em 0;
		text-decoration: none;
		color: black;
		-webkit-transition: 0.5s;
		transition: 0.5s;
	}

	nav ul li:first-of-type span, nav ul li:first-of-type a {
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
		padding: 1em 0;
	}

	nav ul .li i {
		vertical-align: -25%;
		margin-right: 0.3em;
		font-size: 1.7em;
		text-shadow: none;
	}

	#main-nav ul li a:hover {
		color: blue;
		background-color: white;
	}

	nav ul li ul {
		box-sizing: content-box;
		display: block;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		padding: 0;
		width: 100%;
		left: 0;
		top: 100%;
		z-index: 3;
		box-shadow: 1px 1px 5px -1px black;
		-webkit-transition: 0.5s;
		transition: 0.5s;
	}

	nav ul li ul li {
		float: left;
		width: 100%;
	}

	nav ul li ul li:not(:first-child) {
		border-top: 1px solid  #FFB163;
	}

	nav ul li ul li:not(#index):after {
		content: "";
		position: absolute;
		width: 100%;
		height: 5%;
		top: 100%;
		left: 0;
		background-color: blue;
		z-index: 10;
		opacity: 0;
		-webkit-transition: 0.5s;
		transition: 0.5s;
	}

	#search {
		position: relative;
		top: 0;
		left: 0;
		margin-bottom: 2em;
		width: 90%;
	}

	#search label {
		display: block;
		font-size: 0.8em;
	}

	.booking-link {
		position: fixed;
		left: -1.5em;
		top: 50%;
		height: auto;
		width: auto;
		transform: translateY(-50%);
		padding: 0.8em;
		color: white;
		border-radius: 50%;
		text-decoration: none;
		background-color: #2196F3;
		text-align: center;
		z-index: 150;
		transition: 0.3s ease;
		box-shadow: 1px 2px 5px black;
	}

	.booking-link i {
		font-size: 3em;
	}

	.booking-link:hover {
		left: -0.8em;
	}

	.booking-link:hover ~ .booking-info {
		display: block;
	}

	.show-booking {
		top: 50%;
		left: 0;
		transform: translate(-48%, -50%);
		border: 350px solid #2196F3;
		width: 10em;
		height: 10em;
	}

	.show-booking span {
		font-size: 2em;
		position: relative;
		left: 100%;
		top: -20%;
		transition: 0.5s ease;
		transition-delay: 0.5s;
		display: block;
		width: 200%;
	}

	.show-booking a {
		position: relative;
		left: 130%;
		top: 80%;
		padding: 0.3em 0.5em;
		border-radius: 3px;
		box-shadow: 0px 0px 3px white;
		color: white;
		background-color: blue;
		font-size: 2em;
		transition: font-size 0.5s ease, 0.3s ease;
		transition-delay: 0.5s;
	}

	.show-booking a:hover {
		background-color: darkblue;
		cursor: pointer;
		box-shadow: 0px 0px 6px 3px white;
	}

	.booking-modal {
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: rgba(0, 0, 0, 0.5);
		transition: 1s ease;
		z-index: 100;
	}

	.just-mobile {
		display: none;
	}

	.overlay .modal-window {
		padding: 3rem;
		font-size: 1.5rem;
		width: 50%;
		max-height: 80vh;
	}

	main {
		*zoom: 1; /* clearfix-hack for IE 6/7 */
		width: 100%;
		padding-top: 2em;
	}

	main:before,
	main:after {
		content: " ";
		display: table;
	}

	main:after {
		clear: both;
	}

	main .section-heading {
		text-align: left;
		font-size: 2.5em;
	}

	section {
		float: left;
		width: 70%;
		font-size: 1.2em;
	}

	aside.aside {
		position: relative;
		float: right;
		width: 28%;
		margin: 0;
		top: 0;
		right: 0;
		z-index: 0;
		font-size: 0.6em;
		margin-top: 0.5em;
	}

	aside .heading {
		color: blue;
	}

	aside.aside table {
		margin: 0;
	}

	aside.aside div {
		box-shadow: none;
		margin: 0;
		padding: 2%;
		padding-left: 3%;
		background-color: #EAEAEA;
	}

	.aside .icon-container {
		display: none;
	}

	footer {
		padding: 2em 1em;
		font-size: 1em;
	}

	#footerupdate {
		width: 33.333333%;
		float: left;
		padding: 2.8em 0;
	}

	#footerimprint {
		width: 33.333333%;
		float: left;
		margin: 0;
		padding: 1.5em 0;
	}

	#footercontact {
		width: 33.333333%;
		float: right;
		margin: 0;
		padding: 3em 0;
	}
}

@media screen and (min-width: 1200px) {

	nav {
		font-size: 0.9em;
	}

	.booking-link i {
		font-size: 5em;
	}

	.show-booking {
		transform: translate(-45%, -50%);
		width: 15em;
		height: 15em;
	}

	.show-booking span {
		top: -10%;
		width: 150%;
	}

	aside.aside {
		font-size: 0.9em;
	}

	footer {
		font-size: 1.2em;
	}
}
