section table {
	width: 100%;
	border-collapse: collapse;
}

section table td {
	padding-left:1em;
}

section table tr:nth-child(2n+3) {
	background-color: lightgrey;
}

section table .heading {
	color: blue;
	border-bottom: 1px solid blue;
	font-size: 1.2em;
}

section table td:nth-child(2) {
	padding-right: 0;
	float: right;
}

.email:hover {
	color: blue;
	text-decoration: none;
}

iframe {
	margin-top: 2em;
	width: 100%;
	height: 350px;
	border-radius: 3px;
}

@media screen and (min-width: 600px) {
	section table {
		font-size: 1.2em;
	}
}

@media screen and (min-width: 960px) {
	section table {
		font-size: 1em;
		width: 100%;
	}
}