section div {
	*zoom: 1; /* clearfix-hack for IE 6/7 */
}

section div:before,
section div:after {
	content: " ";
	display: table;
}

section div:after {
	clear: both;
}

main section div img {
	max-width: 100%;
}

@media screen and (min-width: 600px) {
	main section div img {
		max-width: 48%;
		float: left;
		margin: 1%;
	}
}