#header form input {
	margin-top: 5px;
}

nav ul li span {
	width: 100%;
	max-width: 100%;
}

section strong {
	display: inline-block;
}

main section ul {
	width: 100%;
	list-style: none;
	margin: 0 auto;
	padding: 0;
} 

main section ul li {
	display: inline-block;
	height: auto;
	width: auto;
	position: relative;
	margin: 0.5%;
	box-shadow: 1px 1px 3px black;
}

main section ul a {
	display: inline-block;
	text-decoration: none;
	padding: 0.3em 0.2em;
}

main section ul a:hover {
	background-color: orange;
	color: blue;
}

main section ul a:link, main section ul a:visited {
	background-color: white;
	color: blue;
}

main section ul a:hover {
	background-color: orange;
	color: blue;
}