main {
	padding-top: 0;
}

main .breadcrumb {
	width: 100%;
	font-size: 0.7em;
	padding-left: 0;
	padding-top: 1em;
}

main .breadcrumb li {
	display: inline;
	border-bottom: 1px solid black;
}

main .breadcrumb li:first-child {
	margin-right: 1.5em;
}

section {
	*zoom: 1; /* clearfix-hack for IE 6/7 */
	font-size: 1.1em;
}

section:before,
section:after {
	content: " ";
	display: table;
}

section:after {
	clear: both;
}

section h2 {
	color: blue;
	border-bottom: 3px solid blue;
}

section h3 {
	color: blue;
}

section ul.no-style {
	list-style-type: none;
}

section ul ol, section ol ul {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

section ol, section ul {
	padding-left: 1em;
}

section ol li {
	margin-bottom: 0.5em;
}

section ol ul {
	list-style-type: square;
}

section .red {
	color: red;
}

section .blue {
	color: blue;
}

section .green {
	color: green;
}

section .big-font {
	font-size: 2em;
}

section table {
	border-collapse: collapse;
	background-color: white;
	font-size: 0.5em;
	text-align: center;
}

section table tr td {
	border: 1px solid black;
	padding: 0 auto;
}

section table tr td:first-child {
	width: 25%;
}

section img {
	margin: 0.5em;
}

@media screen and (min-width: 600px) {
	section ul {
		padding-left: 2em;
	}
	
	section table {
		font-size: 0.9em;
	}

	section img {
		float: right;
	}
}

@media screen and (min-width: 960px) {
	section ol {
		padding-left: 2em;
	}
}